  <header>
  	<article class="index">
  		<div class="logo">
  			<h1><a id="ember359" class="ember-view" href="#/home">Home</a></h1>
  		</div>
  	</article>
  	{{#if isAuthenticated}}
  	<article class="projects">
  		<div class="logo">
  			<h1><a id="ember367" class="ember-view" href="#/projects">Projects  &nbsp; </a></h1>
  			
  		</div>
  	</article>

  	<article class="projects">
  		<div class="logo">
<!--  			<h1><a id="ember367" class="ember-view" href="#/users"> {{name}}   </a></h1>-->
  			{{#link-to 'user' user}}  {{name}} {{/link-to}}
  			
  		</div>
  	</article>

  	{{/if}}
  	
  	{{#if isAuthenticated}}
  	  	
  		<h1 class="logs"><button class="btn" {{action logout}}>Logout</button></h1>  		

  	{{else}}
  		<h1 class="logs"><a id="ember384" class="ember-view active" href="#/registration"> Register</a></h1>  		
  		<h1 class="logs"><a id="ember384" class="ember-view active" href="#/login">Login &nbsp;&nbsp;&nbsp;</a></h1>
  	{{/if}}
  </header>

